#Contacts-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

#Contacts-table td, #Contacts-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
#Contacts-table tr:nth-child(even){background-color: slategray;}

#Contacts-table tr:hover {background-color: #ddd;}

#Contacts-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
#Contacts-table tr{
    text-align: center;
}